@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Sidebar{
    border-right: 0.1rem solid gray;
    width:20%;
    transition: all ease-in-out .5s;
}
.close{
    height: 20px;
    width: 20px;
    display: none;
}
.new-ui-container{
  width: 80%;
  padding-left: 4rem;
}
.hamburger-container{
  display: none;
  
}
.cues-container{
  height: 74%;
}

@media screen and (max-width:1283px){
 html{
  font-size: 62%;
 }
}



@media screen and (max-width:1125px){
  html{
   font-size: 58%;
  }
 }

@media screen and  (max-width: 1063px) {
    .ResizeTray{
        position:absolute;
        left:-60%;
        width:50%;
    }
    .Sidebar{
        width: 60%;
        position: absolute;
        background-color: white;
    }
    .close{
        display: block !important;
        margin: 2px;
    }
    .hamburger{
        display: block !important;
        position: absolute;
        margin-top:2px;
        margin:1.2%;
        height: 20px;
        width: 30px;
        z-index:99;
    }
    .new-ui-container{
      width: 100%;
      padding-left: 0;
    }
    .hamburger-container{
      display:flex;
      align-items:center;
    }
    .cues-container{
      height: 75%;
    }
}

.hamburger{
    display: none ;
    
}
@media screen and  (min-width: 770px) {
   .hamburger{
    display: none !important;
   }
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem; 
}

.sendIcon {
  width: 2rem; 
  cursor: pointer;
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.micAndRecorderLogo {
  display: flex;
  align-items: center;
  gap: 0.8rem; 
}

.micIcon {
  width: 2rem;
  cursor: pointer;
}

.recordIcon {
  font-size: 2.5rem;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.recordIcon.active {
  color: red;
}

@media screen and (max-width: 758px) {
  .iconsContainer {
    display: none;
  }
}



/* style={{borderRight:'0.1rem solid gray',
            width:'20%'
            //,position:'absolute',left:'-20vw',display:'none'
            }} */